@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: hsl(212, 45%, 89%);
    overflow: hidden;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#card{
    padding: 20px 10px;
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 2px 13px 19px 5px rgba(0,0,0,0.1);
}

#qr{
    display: block;
    margin: auto;
    border-radius: 15px;
    width: 320px;
}

h1{
    font-size: 30px;
    font-weight: 700;
}

h2{
    color: darkgrey;
    font-size: 18px;
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */